.big-text {
  display: block;
  font-size: 5rem;
  font-family: 'Rubik Mono One', serif;

  span {
    display: inline-block;
    animation-name: 'slide-in';
    animation-duration: 0.75s;
    animation-delay: var(--delay);
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.77, 1.61);
    position: relative;
    --startPosition: -10em;
    &:nth-of-type(odd) {
      --startPosition: 10em;
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(var(--startPosition)) rotate(1turn);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}
