$dark-purple: #232946;
$white: #fffffe;
$text: #a7a9be;
$orange: #ff8906;
$black: #0f0e17;
$medium-red: #e53170;
$light-red: #f25f4c;

:root {
  --link-color: #{$medium-red};
  --hover-color: #{$orange};
}
